@media only screen and (max-width : $size-break1) {
  .node-type-tools {
    &.page-node-664 {
      .view-display-id-block_1 {
    		.views-row {
    			@include block-main-section-tools(uppercase, $color-red-purple, 1.3em, center, 6px solid $color-red-purple, none);
    		}
    	}
    }

    &.page-node-1407 {
      .view-display-id-block_1 {
        .views-row {
          @include block-main-section-tools(uppercase, $color-red-purple, 1.3em, center, 6px solid $color-red-purple, none);
        }
      }
    }

    &.page-node-665 {
      .view-display-id-block_1 {
        .views-row {
          @include block-main-section-tools(lowercase, $color-aqua1, 1.3em, center, 6px solid $color-aqua1, none);
        }
      }
    }

    &.page-node-1408 {
      .view-display-id-block_1 {
        .views-row {
          @include block-main-section-tools(lowercase, $color-aqua1, 1.3em, center, 6px solid $color-aqua1, none);
        }
      }
    }

    &.page-node-666 {
      .view-display-id-block_1 {
        .views-row {
          @include block-main-section-tools(lowercase, $color-red-purple, 1.3em, center, 6px solid $color-red-purple, none);
        }
      }
    }

    &.page-node-1409 {
      .view-display-id-block_1 {
        .views-row {
          @include block-main-section-tools(lowercase, $color-red-purple, 1.3em, center, 6px solid $color-red-purple, none);
        }
      }
    }

    &.page-node-668 {
      .view-display-id-block_1 {
        .views-row {
          @include block-main-section-tools(lowercase, $color-amarillo-tools, 1.3em, center, 6px solid $color-amarillo-tools, none);
        }
      }
    }

    &.page-node-1410 {
      .view-display-id-block_1 {
        .views-row {
          @include block-main-section-tools(lowercase, $color-amarillo-tools, 1.3em, center, 6px solid $color-amarillo-tools, none);
        }
      }
    }

    &.page-node-669 {
      .view-display-id-block_1 {
        .views-row {
          @include block-main-section-tools(lowercase, $color-naranja-tools, 1.3em, center, 6px solid $color-naranja-tools, none);
        }
      }
    }

    &.page-node-667 {
      .view-display-id-block_1 {
        .views-row {
          @include block-main-section-tools(lowercase, $color-morado-tools, 1.3em, center, 6px solid $color-morado-tools, none);
        }
      }
    }

    &.page-node-664,
    &.page-node-665,
    &.page-node-666,
    &.page-node-668,
    &.page-node-669,
    &.page-node-667 {
      .view-display-id-block_1 {
        .views-row {
          display: block;

          .block-sobre-datos {
            display: block;
            margin-bottom: 1em;
            padding: 0;
            width: 100%;

            .views-field-field-tool-icon {
              width: 120px;
            }

            .views-field-title {
              width: 80%;
            }
          }

          .views-field-body {
            display: block;
            padding: 20px 4%;
            width: 100%;
            float: none;

            p {
              font-size: 1em;
              line-height: 1.3;
            }
          }
        }
      }
    }
  }
}
