.hder {
	background-color: #FFFFFF;
	background-image: url(../img/Header-software.png);
	height: 190px;
	text-align: center;
	vertical-align: middle;
	background-repeat: no-repeat;
}
.hder .logo_head {
	width: 349px;
	position: relative;
	display: block;
	text-align: left;
	left: 30px;
	top: 29px;
}

div#mini-panel-header__standard {
    background-color: #FFFFFF;
}
